@mixin font-format($font: 'montserratmedium', $size: 23px, $color: #ffffff, $line-height: normal, $weight: normal, $transform: none) {
  font-family: $font;
  font-size: $size;
  color: $color;
  line-height: $line-height;
  font-weight: $weight;
  text-transform: $transform;
}